<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>External Accounts - CSH Account</title>
        <meta name="theme-color" content="#B0197E">
        <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
        <link rel="stylesheet" href="/static/style.css" media="screen">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="https://account.csh.rit.edu">Account</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://eac.csh.rit.edu">
                                <i class="fas fa-user-tag"></i>
                                External Accounts
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="navbar-user dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user">
                                <img src="https://profiles.csh.rit.edu/image/{{ uid }}" alt="Profile Picture">
                                {{ uid }}
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user">
                                <a class="dropdown-item" href="https://profiles.csh.rit.edu">
                                    <i class="fas fa-user-circle"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="https://account.csh.rit.edu">
                                    <i class="fas fa-user-shield"></i>
                                    Account
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container services">
            <div class="row justify-content-center">
                {% for service, uid in services.items() %}
                <div class="col-md-4">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <img alt="{{ service }}" src="/static/logos/{{ service.lower() }}.svg">
                            </div>
                            <div class="card-text text-center">
                                {% if uid %}
                                <button type="button" class="btn btn-danger" data-service="{{ service.lower() }}" data-action="unlink">
                                    <i class="fas fa-unlink"></i>
                                    Unlink
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-success" data-service="{{ service.lower() }}" data-action="link">
                                    <i class="fas fa-link"></i>
                                    Link
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if commit_hash %}
        <footer class="bg">
            <div class="container my-3">
                <p class="text-center">
                    <a href="https://github.com/ComputerScienceHouse/eac/tree/{{ commit_hash }}">EAC ({{ commit_hash }})</a>
                </p>
            </div>
        </footer>
        {% endif %}

        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"></h1>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="statusCloseButton">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js" integrity="sha384-qD/MNBVMm3hVYCbRTSOW130+CWeRIKbpot9/gR1BHkd7sIct4QKhT1hOPd+2hO8K" crossorigin="anonymous"></script>
        <script src="/static/actions.js"></script>
    </body>
</html>
